.image-drop {
  cursor: pointer;
}

.loader {
  display: none;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

#logo {
  position: absolute;
  top: 20px;
}

#title{
  position: absolute;
  left: 220px;
}

body, html {
  font-family: arial, sans-serif;
  font-size: 11pt;
}

#timelineModal {
  box-sizing: border-box;
  font-size: 6pt;
}

#timelineModal .modal-dialog {
  max-width: 90vw;
  height: 90vh;
}
.action-button{
  float: left;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
