<!doctype html>
<html>
<head>
  <title>{% block title %}Policy Builder{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.1.1-web/css/all.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='highlight/styles/intellij-light.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
  <!-- note: moment.js must be loaded before vis-timeline-graph2d or the embedded version of moment.js is used -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
  <link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
  {{ bootstrap.load_css() }}
  {{ moment.include_moment() }}
  {{ moment.locale('fr') }}
</head>
<body>
  <div style="background-image: url('{{ url_for('static', filename='background_policy_builder.jpg') }}'); background-attachment: fixed;">
  <nav class="navbar navbar-expand-lg bg-dark" style="height: 110px;">
    <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo.png')}}" class="mx-2" id="logo"></a>
    <a class="navbar-brand text-light fs-1" id="title" href="#">Tetragon Policy Builder</a>
  </nav>
  <main class="container bg-light p-4 min-vh-100 {% block main_class %}{% endblock %}" id="main-container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="flash m-3 alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>
</div>
{{ bootstrap.load_js() }}
  <script>
    {% block script %}{% endblock %}
  </script>
</body>
</html>
