{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}

{% for ns, analyser in analyzers.items() %}
<h1 class="bg-dark text-light p-2">Namespace: {{ ns }}</h1>

<h2 class="mt-4">Timeline: {{ wl }}</h2>
<div class="container m-2">
<button type="button" class="btn btn-primary action-button m-2" data-bs-toggle="modal" data-bs-target="#timelineModal"
data-bs-ns="{{ ns }}" data-bs-wl="{{ wl }}">
Show Timeline
</button>
</div>


{% for wl, binaries in analyser.binaries.getDict().items() %}
  {% set binary_in_policy = analyser.getBinariesInPolicy(wl) %}
  <h2 class="mt-4">Workload: {{ wl }}</h2>
  <div class="container m-2">
    <div class="clearfix">
      <button type="button" class="btn btn-primary action-button m-2" data-bs-toggle="modal" data-bs-target="#yamlPolicyModal"
              data-bs-ns="{{ ns }}" data-bs-wl="{{ wl }}">
          Show Policy
      </button>
      {% set deployed = binary_in_policy is not none %}
      <form method="post" action="{{ url_for('deploy_policy') }}" class="action-button">
        <input type="hidden" name="ns" value="{{ ns }}">
        <input type="hidden" name="wl" value="{{ wl }}">
        <button type="submit" class="btn m-2 {{ "btn-warning" if deployed else "btn-success" }}">{{ "Update" if deployed else "Deploy" }} Policy</button>
      </form>
      {% if deployed %}
      <form method="post" action="{{ url_for('remove_policy') }}" class="action-button">
        <input type="hidden" name="ns" value="{{ ns }}">
        <input type="hidden" name="wl" value="{{ wl }}">
        <button type="submit" class="btn m-2 btn-danger">Remove Policy</button>
      </form>
      {% endif %}
    </div>
    <ul>
      {% for binary in binaries %}
      <li>
        <i class="fa-solid fa-trash-can fs-6 mx-2 image-drop"
           data-ns="{{ ns }}"
           data-wl="{{ wl }}"
           data-binary="{{ binary }}"></i>
        <div class="loader"></div>
        <span class="{{ "" if binary_in_policy is none else "text-success" if binary in binary_in_policy else "text-danger" }}">
        {{ binary }}
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endfor %}
{% endfor %}

<!-- Modal to display TracingPolicies manifest -->
<div class="modal fade" id="yamlPolicyModal" tabindex="-1" aria-labelledby="yamlPolicyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="yamlPolicyModalLabel">Policy Manifest</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
      <pre><code id="yamlPolicyModalBody" class="language-yaml"></code></pre>
      </div>
    </div>
  </div>
</div>

<!-- Modal to display Timeline -->
<div class="modal fade" id="timelineModal" tabindex="-1" aria-labelledby="timelineModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="timelineModalLabel">Timeline</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div id="timelineContainer"></div>
      </div>
      <div class="modal-footer">
          <div class="menu">
            <input type="button" id="zoomInx10" value="Zoom in x10"/>
            <input type="button" id="zoomIn" value="Zoom in"/>
              <input type="button" id="zoomOut" value="Zoom out"/>
              <input type="button" id="zoomOutx10" value="Zoom out x10"/>
              <input type="button" id="moveLeft" value="Move left"/>
              <input type="button" id="moveRight" value="Move right"/>
          </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block script %}
  $(".image-drop").on("click", function () {
      var image = $(this);
      var loader = image.next(".loader");
      image.hide();
      loader.css('display', 'inline-block');
      var ns = $(this).data("ns");
      var wl = $(this).data("wl");
      var binary = $(this).data("binary");
      $.ajax({
          type: "POST",
          url: "{{ url_for('remove_binary') }}",
          data: { ns: ns, wl: wl, binary: binary },
          success: function (response) {
              window.location.reload();
          },
          error: function (error) {
              console.error("Error:", error);
          }
      });
  });

const yamlPolicyModal = document.getElementById('yamlPolicyModal')
if (yamlPolicyModal) {
  yamlPolicyModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    // Extract ns and wl
    const ns = button.getAttribute('data-bs-ns')
    const wl = button.getAttribute('data-bs-wl')
    const yaml = document.getElementById('yamlPolicyModalBody');
    yaml.textContent = "";
    // fetch yaml manifest
    $.ajax({
        type: "GET",
        url: "/show_policy/" + ns + "/" + wl,
        success: function (response) {
            // Inject yaml in the modal
            yaml.textContent = response;
            hljs.highlightAll();
        },
        error: function (error) {
            console.error("Error:", error);
        }
    });
  })
}

const timelineModal = document.getElementById('timelineModal')
if (timelineModal) {
  const timelineContainer = document.getElementById('timelineContainer');
  var timeline = new vis.Timeline(timelineContainer);

  function generateTimeline(data) {
    var options = {
      stack: true,
      autoResize: true,
      dataAttributes: 'all',
      horizontalScroll: true,
      zoomable: false,
      margin: {
        item: 1,
        axis: 1,
      },
      start: new Date(),
      end: new Date(60 * 60 * 12 + new Date().valueOf()),
    };

    timeline.setOptions(options);
    timeline.setGroups(data.groups);
    timeline.setItems(data.items);
    timeline.redraw();

    function move (percentage) {
      var range = timeline.getWindow();
      var interval = range.end - range.start;

      timeline.setWindow({
          start: range.start.valueOf() - interval * percentage,
          end:   range.end.valueOf()   - interval * percentage
      });
  }

    // attach events to the navigation buttons
    document.getElementById('zoomInx10').onclick   = function () { timeline.zoomIn(0.9); };
    document.getElementById('zoomIn').onclick    = function () { timeline.zoomIn(0.2); };
    document.getElementById('zoomOut').onclick   = function () { timeline.zoomOut(0.2); };
    document.getElementById('zoomOutx10').onclick   = function () { timeline.zoomOut(0.9); };
    document.getElementById('moveLeft').onclick  = function () { move(1); };
    document.getElementById('moveRight').onclick = function () { move(-1); };
  }

  timelineModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    // Extract ns and wl
    const ns = button.getAttribute('data-bs-ns')
    const wl = button.getAttribute('data-bs-wl')

    $.ajax({
        type: "GET",
        url: "/events/" + ns,
        success: function (response) {
          generateTimeline(response);
        },
        error: function (error) {
            console.error("Error:", error);
        }
    });
  })

}



{% endblock %}
